.congratulationsRoot {
  height: calc(100vh - 174px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .congratulationsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 636px;
    padding: 36px 48px;
    gap: 20px;
    border-radius: 24px;
    border: 1px solid #f7f7f7;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  }

  .congratsInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }

  .continueBtn {
    width: 210px;
  }
}
