.cardContainer {
  background-image: url('/assets/ai-summary-bg.png');
  background-size: cover;        // or 'contain' depending on design
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 12px;
  padding: 16px;
height: 100%

}

.insightContainer {
   display: flex;
padding: 10px;
align-items: center;
gap: 10px;
align-self: stretch;
border-radius: 12px;
background: #FFF;


}