.card {
  width: 100%; /* important so the grid cell width is used */
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.thumbnailWrapper {
  position: relative;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;
}

.blackBg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  left: 0;
  top: 0;
}

.playIcon {
  position: relative;
  width: 48px;
  height: 48px;
  z-index: 1;
  cursor: pointer;
}

.duration {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 7.5px;
  background: rgba(80, 80, 80, 0.75);
  z-index: 1;
  padding: 3.5px 6.852px 3.5px 7px;
display: inline-flex;
  align-items: center;
  font-size: 10px;
  gap: 4px;
}

/* responsive thumbnail height */
@media (max-width: 600px) {
  .thumbnailWrapper {
    height: 120px;
  }
}
