  .formContainerInviteUser {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 32px;
    gap: 16px;
    border-radius: 24px;
    border: 1px solid #f7f7f7;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  }

  .createPasswordWidth {
    width: 590px;
  }

  .userInfoWidth {
    width: 730px;
  }