.wrapper {
  height: 330px;
  background: url('/assets/BG.png') center top;
  background-size: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}


.docIframe {
  border: none;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  background: transparent;
}

@media (max-width: 600px) {
  .wrapper {
    align-items: center;
    background-position: center top;
  }
}
