.formHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  align-self: stretch;
}

.container {
  min-width: 950px;
  width: 100%;
  display: flex;
  align-items: stretch;
  padding: 36px 48px;
  gap: 20px;
  border-radius: 24px;
  border: 1px solid var(--grey-border);
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  margin-top: 24px;
  margin-bottom: 24px;

  @media (max-width: 900px) {
    flex-direction: column;
    min-width: unset;
    padding: 24px;
  }

  @media (max-width: 600px) {
    padding: 16px;
    gap: 12px;
  }
}

.completedContainer {
  height: calc(100vh - 174px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left {
  width: 20%;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

  @media (max-width: 900px) {
    width: 100%;
    min-width: unset;
    padding: 0;
  }
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.divider {
  margin: 0;
}
