/* src/components/TestTheme.scss */

.custom-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background: var(--color-primary) !important;
  color: var(--color-primary-contrast);
  cursor: pointer;
  font-weight: 600;

  &:hover {
    background: rgba(var(--color-primary-rgb), 0.8);
  }
}
