.nominateNowContainer {
  display: flex;
  padding: 12px 16px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--info-dark, #01579b);
  background: var(--_components-alert-info-background, #e5f6fd);
}
