.WelcomeCardRoot {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  border: 1px solid white;
  background: var(--primary-main, #000);
  box-shadow:
    0 0 0 1px #162021,
    0 1px 0 0 #2e464b;
}

.WelcomeCardContainer {
  display: flex;
  padding: 36px 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.WelcomeCardButton {
    color: black !important;
    border-radius: 12px;
background: var(--primary-contrastText, #FFF) !important;

/* elevation/2 */
box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.20);
}


.WelcomeCardImage {
  @media (max-width: 1150px) {
    display: none;
  }
}
