.memberInfoHeaderRoot {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  padding: 16px;
  border-radius: 24px;
  background: var(--grey-100, #f5f5f5);

  .memberInfoHeaderContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
