.resetMFARoot {
    display: flex;
width: 646px;
padding: 16px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 12px;
border-radius: 20px;
border: 1px solid var(--primary-_states-outlinedBorder, rgba(0, 0, 0, 0.20));
}

.resetBox {
    display: flex;
width: 614px;
padding: 14px 10px;
justify-content: space-between;
align-items: center;
border-radius: 16px;
border: 1px solid var(--grey-200, #EEE);
}