.accountingBasisRoot {
    display: flex;
padding: 16px 20px;
align-items: flex-start;
gap: 20px;
align-self: stretch;
border-radius: 24px;
border: 1px solid var(--grey-50, #FAFAFA);
background: var(--grey-50, #FAFAFA);
}